*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior:smooth;
}

body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.6rem;
    background: linear-gradient(to left bottom, transparent,rgb(104, 135, 152)  );
}

.nav-bar{
    display: block;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background: linear-gradient(to left,#18638c,rgb(34, 32, 32)) ;
    margin-bottom: 4rem;
    position: fixed;
    z-index: 1000;
    text-align: center;
}

.nav-ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 4rem;  
    padding: 1rem; 
    justify-content: center;
    text-align: center;
}

.nav-text{
    color: white;
    padding: .5rem;
    text-decoration: none;
}

.header{
    width: 100%;
    padding-block: 20rem;
    margin: 0 auto ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7rem;
    height: 100%;
}

.logo{
    max-width: 50%;
    animation: fade-slide 3s ease-out forwards;
}

@keyframes fade-slide {
    0% {
      transform: translateY(30px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

.headertext{
    width: 90%;
    text-align: center;
    font-size: 2rem;
    color:#18638c;
    font-weight: 900;
}

.PresentacionTexto{
    font-size: 2rem;
    color: #18638c;
    font-weight: 600;
    text-decoration:underline;
}

.PresentacionTexto2{
    font-size: 2rem;
    color: white;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
}

.ImagePresentación{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    justify-content: center;
}

.realidadesimage {
    width: 55%;
    border-radius: 2rem;
}

.Ofrecemos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;  
    justify-content: center;
    text-align: center;
    margin-bottom: 4.5rem;
    font-size: 1.5rem;
}

.Ofrecemos2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;  
    justify-content: center;
    text-align: center;
    margin-bottom: 3.5rem;
    font-size: 1.5rem;   
}

.Promesas{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;  
    justify-content: center;
    text-align: center;
    margin-bottom: 4.5rem;
}

.OfrecemosTexto1 {
    font-size: 2rem;
    width: 80%;
    color: black;
    font-weight: 400;
}

.OfrecemosTexto2 {
    font-size: 1.5rem;
    width: 65%;
    color: white;
}

.productos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;  
    justify-content: center;
    text-align: center;
    background:linear-gradient(to top right,#18638c,rgb(34, 32, 32));
    padding: 1.5rem;
    margin-bottom: 4.5rem;
}

.ImageProductos{
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 3rem;   
}

.Productosimg{
    width: 60%;
    border-style: double;
    padding: 1rem;  
}

.contactanos{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 4rem;
    background-color:#212121;
}

.datos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 1rem;
}

.contactanostext{
    font-size: 2rem;
    color: white;
}

.contactanosdatos{
    color: white;
    font-size: 1.5rem;
}

.redes{
    display: flex;
    flex-direction: row;
    gap: 3rem;

}

.logos:hover{
    width: 90%;
    transition: all 1s ease;
}

@media (max-width: 768px)
{
    .nav-bar{
        display: none;
    }

    .PresentacionTexto2{
        font-size: 2rem;
    }

    .navbar-small {
        width: 50%;
        background-color: transparent;
        display: flex;
        flex-direction:column;
        align-items: left;
        list-style: none;
        position: fixed;
        z-index: 1000;
    }

    .small-menu{
        text-align: left;
    }

    .menu-icon {
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;
        align-content: center;
        flex-wrap: wrap;
    }

    #small-menu {

        display: none;
        flex-direction: column;
        top: 50px;
        right: 0;
        background-color: #18638c;
        width: 100%;
        height: 100vh;
        padding: 10px 0;
        list-style: none;
        gap: 2rem;
        text-align: center;
    }
      
    #small-menu li {
        text-align: left;
    }

    .header{
        padding-block: 15rem;
        gap: 10rem;
    }
    .Ofrecemos2{
        flex-direction: column-reverse;
    }

    .OfrecemosTexto2{
        width: auto;
    }
    
    .nav-text{
        font-size: 1.5rem;
    }
    
}

@media (min-width: 768px)
{  
    .nav-bar{
        display: block;
    }

    .navbar-small{
        display: none;
    }
    .header{
        flex-direction: row;
        justify-content: center;
        height: 100vh;
    }

    .headertext{
        width: 40%;
        font-size: 2.3rem;
    }

    .logo{
        max-width: 40%;
    }

    .nav-bar{
        height: max-content;
    }
    .nav-ul{
        flex-direction: row;
        text-align: center;
    }

    .nav-text{
        font-size: 1.3rem;
    }

    .nav-text:hover{
        background-color: white;
        color: #18638c;
        padding: 1rem; 
        border-radius: 1rem; 
    }

    .PresentacionTexto{
        font-size: 2rem;
        gap: 4rem;
    }

    .PresentacionTexto2{
        font-size: 2rem;
    }

    .ImagePresentación{
        flex-direction: row;
    }

    .realidadesimage {
        width: 30%;
    }

    .Ofrecemos{
        font-size: 2rem;
    }

    .Promesas{
        flex-direction: row;
        width: 65%;
    }

    .ImageProductos{
        flex-direction: row;
        width: 65%;
    }

    .Productosimg{
        width: 30%;
    }

    .contactanos{
        flex-direction: row;
        align-items: flex-start;
        gap: 0rem;
        padding: 7%
    }

    .redes{
        gap: 4rem;
    }

}

@media(min-width: 1024px)
{
    .header{
        width: 100%;
        flex-direction: row;
        justify-content: center;
    } 

    .headertext{
        width: 30%;
        font-size: 3rem;
    }

    .logo{
        max-width: 20%;
    }

    .nav-bar{
        height: max-content;
    }

    .nav-ul{
        gap: 7rem;
    }

    .nav-text{
        font-size: 1.5rem;
    }

    .PresentacionTexto{
        font-size: 3rem;
    }

    .PresentacionTexto2{
        font-size: 3rem;
    }

    .realidadesimage{
        width: 20%;
    }

    .realidadesimage:hover{
        width: 22%;
        transition: all 2s ease;
    }

    .Ofrecemos{
        font-size: 2.5rem;
    }

    .OfrecemosTexto2 {
        font-size: 2rem;
    }

    .Productosimg:hover{
        width: 27%;
        transition: all 0.5s ease;
    }
}